@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Noto+Serif&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #e4e3e3;
}

.wrapper {
  position: relative;
  width: 700px;
  margin: 60px auto 20px auto;
  padding: 15px;
  box-shadow: 0 1px 5px #999999;
  border-radius: 5%;
  background-color: #ffffff;
}
.todoInput {
  border: none;
  padding: 5px;
  margin: 10px 20px 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  outline: none;
}
.todoButton {
  position: absolute;
  right: 37px;
  top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.todoButton:hover {
  color: #d32626;
}
.todoList {
  position: relative;
  width: 95%;
  margin: 30px auto 20px auto;
  padding: 15px;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 15px;
  list-style-type: none;
}
.todoItem button {
  border: none;

  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
}
.doneButton {
  background-color: #d32626;
}
.duplicateButton {
  background-color: #ffa931;
}
